<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869223161328-3pkl26ce1cav6ov64um0b2cits29lmuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869223161328-3pkl26ce1cav6ov64um0b2cits29lmuc</string>
	<key>API_KEY</key>
	<string>AIzaSyCQNo-AiK2A4p4QqwdFaychPpXHVh1YZsI</string>
	<key>GCM_SENDER_ID</key>
	<string>869223161328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginui1</string>
	<key>PROJECT_ID</key>
	<string>when-wear-weather</string>
	<key>STORAGE_BUCKET</key>
	<string>when-wear-weather.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869223161328:ios:bffaf4f6f2394965165135</string>
</dict>
</plist>